@import "tailwindcss";

@theme {
  --color-primary: #16a34a; /* Verde */
  --color-primary-foreground: #ffffff;
  --color-background: #ffffff;
  --color-foreground: #09090b;
  --color-card: #ffffff;
  --color-card-foreground: #09090b;
  --color-border: #e4e4e7;
  --color-input: #e4e4e7;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}